p{
    color: royalblue;
    background-color: rosybrown;
}
h1{
    background-color: olive;
    color: olivedrab;
}
h3{
    color: orangered;
}
h2{
    color: palegoldenrod;
    background-color: papayawhip;
}